body {
    max-width: 1200px;
    width: 90%;
    height: 800px;;
    margin: 0 auto; /* Centering the container */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #5A5A5A;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 20px;
    border-radius: 3%;
    gap: 15px;
    z-index: 100000;
}
.display_screen {
    background-color: lightgray;
    flex: 1.5;
    border-radius: 15%;
    border: 5px solid black;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}
.not_display{
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    z-index: 1;
    border-radius: 5%;
}
.row1, .row2, .row3 ,.row4, .row5{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.clear, .change_sign, .change_to_percent, .divide,
.seven, .eight, .nine, .times, .six, .five, .four, 
.minus, .three, .two, .one, .plus, .backspace,
.zero, .decimal, .equal{
    flex: 1;
    border-radius: 10%;
    font-size: 30px;
    border: 3px solid black; 
}
.times, .minus, .divide, .plus, .equal{
    background-color: orange;
}
.clear, .change_sign, .change_to_percent{
    background-color: darkgray;
}
